@{
    ViewBag.Title = "Home Page";
}
<h3>Chat ESEO</h3>
<div id="RoomForContent"></div>
<div>
    @if (ViewBag.name != null)
    {
        <h1>Votre nom est @ViewBag.name</h1>
        <input id="textToSend" type="text" />
        <input id="sendButton" type="button" value="Envoyer"/>
    }
    <input id="logoutButton" type="button" value="Déconnexion"/>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <script id="auth0" src="https://sdk.auth0.com/auth0.js#client=FiprhqBArdSp2fF2sMiToREcXKPv41BY"></script>
    
    <script>
        $('#logoutButton').click(function () {
            $.ajax({
                type: "POST",
                url: 'Home/logOut',
                dataType: 'json',
                accept: 'application/json'
            });
        });
        @if (ViewBag.name == null)
        {
            @:     window.Auth0.ready(function () {
            @:         window.Auth0.signIn({ onestep: true });
            @:});
        }
        else
        {
            <text>
                $(function () {
                    // Reference the hub.  
                    var chat = $.connection.chatHub;
            
                    chat.client.addNewMessageToPage = function (name, message) {
                        $('#RoomForContent').append('<li><strong>' + name
                            + '</strong>: ' + message + '</li>');
                    };
            
                    // Start the connection.
                    $.connection.hub.start().done(function () {
                        $('#sendButton').click(function () {
                            // Sends a message to the server
                            $.ajax({
                                type: "POST",
                                url: 'Home/sendMessage',
                                data: {messageToSend: $('#textToSend').val()},
                                dataType: 'json',
                                accept: 'application/json'
                            });
                            // Clear text box and reset focus for next comment. 
                            $('#textToSend').val('').focus();
                        });
                    });
                });
            </text>
        }
    </script>
}
